<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakuTweakerNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MakuTweakerNew.Properties.Settings>
            <setting name="ver" serializeAs="String">
                <value>v4.3.0</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value />
            </setting>
            <setting name="langSI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pwsh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="satstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="e2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="e3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="e4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="e5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="e6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="e7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="st5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wu1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wu2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wu3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wu4" serializeAs="String">
                <value>2312</value>
            </setting>
            <setting name="cm1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cm14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="o10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="p1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sr1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sr2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sr3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sr4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sr5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sr6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sr7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sr8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p2" serializeAs="String">
                <value />
            </setting>
            <setting name="p3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cm15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="p4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isE8Hidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wu6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hiddenDrives" serializeAs="String">
                <value />
            </setting>
            <setting name="powercfgsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="style" serializeAs="String">
                <value>Tabbed</value>
            </setting>
            <setting name="sr9" serializeAs="String">
                <value>False</value>
            </setting>
        </MakuTweakerNew.Properties.Settings>
    </userSettings>
</configuration>